body{
  margin:0;
  font-family:Poppins,sans-serif;
  background:linear-gradient(135deg,#ffd6ea,#f5e6ff);
  overflow-x:hidden;
}

.slide{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:30px;
  cursor:pointer;
  margin:10px;
}

.gif{
  width:250px;
}

.photo,
.memory{
  width:300px;
  border-radius:20px;
}

.message{
  max-width:900px;
  line-height:1.8;
}
